<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>불만사항읽기</title>
		
		  <link rel="stylesheet" href="/resources/css/read.css">
</head>
<body>
	<table>
	<tr>
	<td>
		제목 : <input id="title" type="text" name="title" th:value="${complain.title}" readonly>
	</td>
	</tr>
	<tr>
	<td>
		내용 : <input id="content" type="text" name="content" th:value="${complain.content}" style="width:1000px; height:100px;" readonly>
	</td>
	</tr>
	<tr>
	<td>
		작성자 : <input id="regId" type="text" name="regId" th:value="${complain.regId}" readonly>
	</td>
	</tr>
	<tr>
	<td>
		작성일자 : <input id="regDt" type="datetime" name="regDt" th:value="${complain.regDt}" readonly>
	</td>
	</tr>
	<tr>
	<!--댓글등록기능  -->
	<td>
		댓글 : <input id="reply" type="text" name="reply" value="">
			<button style="background-color:#00EBFF;color:white;"type="button" id="replyBtn">리플 등록</button>
		
		<!--게시물의 인덱스 값도 보내줘야  -->
		<input id="complainIdx" type="hidden" th:value="${complain.idx}" readonly>
	</td>
		<td>
		<a th:href="@{/complain/list(nowPage=${search.nowPage}, searchText=${search.searchText})}">목록</a>
	</td>
	</tr>
	<!--댓글 목록보여주기  -->

		<tr>
			<td style=text-align:center;>내용</td>
			<td style=text-align:center;>작성자</td>
			<td style=text-align:center;>작성일자</td>
		</tr>
		
		<!--th:block을 통해 replyList를 각각 반복해서 돌리겠다는말  -->
		<th:block th:each="replyList: ${reply}">
		<tr>
			<td>
				<textarea name="replyTextarea">[[${replyList.reply}]]</textarea>
				<textarea name="oldreplyTextarea" readonly style="display:none;">[[${replyList.reply}]]</textarea>
			</td>
			<!-- style="display:none;"숨기기기능 -->
			<td>[[${replyList.regId}]]</td>
			<td>[[${replyList.regDt}]]</td>
		
		<td>
		<!-- 관리자용과 구별됨 잊지말기!  -->
		<th:block th:if="${replyList.regId !=session.AdminId}">
			<input type="text" name="replyIdx" th:value="${replyList.idx}">
			<button name="replyModifyBtn">수정</button>
			<button name="replyModifyProcBtn" style="display : none;">저장</button>
			<button name="replyModifyCancelBtn" style="display: none;">취소</button>
			<button type="button" name="del_btn" th:data-ntc-idx="${replyList.idx}">삭제</button>
		</th:block>
		</td>
		</tr>
		</th:block>
	</table>
</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script> 
<script>
	/*  등록하게된다면 기존에 있던것을 지우고 다시 새롭게 불러온다 ex)6번저장할때 1~5번지우고 1~6번보여준다 */ 
	$(document).ready(function(){
	
		$("button[name=replyModifyBtn]").on("click", function(){
			$(this).parents('tr').find("textarea[name=replyTextarea]").attr('readonly', false);
			$(this).parent('td').find("button[name=replyModifyProcBtn]").show()
			$(this).parent('td').find("button[name=replyModifyCancelBtn]").show()
			$(this).parent('td').find("button[name=replyModifyBtn]").hide();
		})
		
		/* function makeCancelBtnEvt(){}  */
		//parents는 지정한 상위까지 parent는 상위 까지만
		$("button[name=replyModifyCancelBtn]").on("click", function(){
			$(this).parents('tr').find("textarea[name=replyTextarea]").attr('readonly', true);
			$(this).parent('td').find("button[name=replyModifyProcBtn]").hide()
			$(this).parent('td').find("button[name=replyModifyCancelBtn]").hide()
			$(this).parent('td').find("button[name=replyModifyBtn]").show()
			$(this).parent('td').find("textarea[name=replyTextarea]").val($(this).parents('tr').find("textarea[name=oldReplyTextarea]").val())
			
		})
		
		
		//댓글 등록
		$("#replyBtn").on("click", function(){
			const complainIdx=$("#complainIdx").val()
			
			var data={
				reply : $("#reply").val(),
			}
		doAjax(`/complain/${complainIdx}/reply`, "post", data, regReply)
		});
	  function regReply(res){
			alert("등록 되었습니다");  
	  }
	  
	  //댓글 수정
	  $("button[name=replyModifyProcBtn]").on("click", function(){
		  //debugger;
		  
		  const complainIdx=$("#complainIdx").val()
		  const replyIdx=$(this).parent('td').find("input[name=replyIdx]").val()
		  
		  var data={
			  reply : $(this).parents('tr').find("textarea[name=replyTextarea]").val(),
			  idx : $(this).parent('td').find("input[name=replyIdx]").val()
		  }
		  doAjax(`/complain/${complainIdx}/reply/${replyIdx}`, "put", data, modReply)
	  })
	  
	  function modReply(res){
		  alert("수정 되었습니다");
		  location.reload();
	  }
	  
	  //댓글삭제
	  $("button[name='del_btn']").on("click", function(){
		  const complainIdx=$(this).attr("data-ntc-idx");
		  const replyIdx=$(this).parent('td').find("input[name=replyIdx]").val()
		  
		  var data={
			  idx :$(this).parent('td').find("input[name=replyIdx]").val()
		  }
		  doAjax(`/complain/${complainIdx}/reply/${replyIdx}`, "delete", data, delfunc)
	  });
	  
	  function delfunc(){
		  alert("삭제에 성공하였습니다")
		  location.reload();
	  }
	  
	  		function doAjax(url, type, data, callback){
	  			
	  			$.ajax({
	  				type: type, //post, delete, get
	  				url: url,
	  				datatype: "json",
	  				data: data ==null ? null : JSON.stringify(data),
	  				contentType: "application/json; charset=utf-8",
	  				beforeSend: function(xhr){
	  					$("#loading").show()
	  				},
	  				success: function(res){
	  					console.log(res)
	  					if(callback !=null){
	  						callback(res)
	  					}
	  				},
	  				error: function(e){
	  					if(e.responseJSON.status==400){
	  							alert(e.responseJSON.message)
	  					}else{
	  						alert("서버 처리중 에러가 발생하였습니다");
	  					}
	  				},
	  				complete: function(e){
	  					$("#loading").hide()
	  				}
	  			});
	  		}//ajax end
	  
	})
		
</script>
</html>