<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	  <link rel="stylesheet" href="/resources/css/read.css">
	<th:block th:replace="fragments/meta ::metaFragment('공지사항 상세보기', 'false')"></th:block>
			
</head>
<body>
<table>
	<form method="post" action="/exchangestop/exchangestopModifyProc" id="modifyProcForm">
	<tr>
		<td>제목 : <input id="title" type="text" name="title" th:value="${exchangestop.title}"></td>		
	</tr>
	<tr>
		<td>내용 : <input id="content" type="text" name="content" th:value="${exchangestop.content}" style="width:1000px; height:100px;"></td>
	</tr>
	<tr>
		<td><input type="hidden" name="idx" th:value="${exchangestop.idx}"></td>
		<td><a th:href="@{/exchangestop/list(nowPage=${search?.nowPage}, searchText=${search?.searchText})}">목록</a></td>
		<td><button style="background-color:#4BAF4B;color:white;"type="button" id="modifyProcBtn">수정</button></td>
	</tr>
	</form>
</table>
</body>
			<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.js"></script>
	<script>
		$(function(){
			$("#modifyProcBtn").on("click", function(){
				if(confirm("수정하시겠습니까")){
					$("#modifyProcForm").submit();
				}
				
			})
		})
	</script>
</html>